<h1>Current Campaigns</h1>
<p>Keep track of the current marketing campaigns and offers.</p>
<table style="    background-color: white; font-size: 16pt; font-family: sans-serif;" cellpadding="10" cellspacing="10">
  <tbody>
    <tr>
      <td>
        12/7/2017
      </td>
      <td>
        <div>Lextera GS 450h debuted; 'Power beyond imagination. Meet the Lextera Hybrid. Lextera for EARTH' ad campaign conducted</div>
      </td>
    </tr>
    <tr>
      <td>
        11/5/2017
      </td>
      <td>
        <div>All-Toyita 'Open the Door' ad campaign conducted</div>
      </td>
    </tr>
    <tr>
      <td>
        11/3/2017
      </td>
      <td>
        <div>Rabo Hybrid completely redesigned; 'With Earth, wherever you go' ad campaign conducted </div>
      </td>
    </tr>
    <tr>
      <td>
        10/8/2017
      </td>
      <td>
        <div>Lextera LS 460 debuted</div>
      </td>
    </tr>
    <tr>
      <td>
        10/1/2017
      </td>
      <td>
        <div>Hitata debuted; 'The best me ever' ad campaign conducted</div>
      </td>
    </tr>
    <tr>
      <td>
        9/23/2017
      </td>
      <td>
        <div>Carilla Axio debuted; 'Car-making by a new measure' ad campaign conducted</div>
      </td>
    </tr>
  </tbody>
</table>
